@charset "utf-8";
.abs {position:absolute;}
.rel {position:relative;}
body {background-color:#fff; font-family:"Microsoft Yahei", "Hiragino Sans GB", "sans-serif";}
.none {display:none;}
.wrap { position:relative; height:100%;}
/**/
.cons {width:7.5rem;}
	.con1 {height:2.0rem; background-color:#fff;}
        .con1 .walmartLogo {width:2.5rem; height:1.46rem; top:.36rem; left:50%; margin-left:-1.25rem; background-image:url(../images/ilogo.jpg);}
        .con1 p {font-size:.28rem; color:#666; padding:0 .32rem; padding-top:2.02rem; text-indent:2em;}
	.con2 {overflow:hidden; margin-top:.32rem;}
        .c2head {height:2.58rem; background-image:url(../images/ic2head.jpg);}
        .c2ProContainer {min-height:1.2rem; padding-top:.16rem;}
            .c2ProContainer h3 {height:2.28rem; background-image:url(../images/ic2h3.jpg);}
            .c2Prosearch {padding:.32rem 0;}
                .c2Prosearch h1 {font-size:.48rem; color:#212121; text-align:center;}
                .c2Prosearch .c2fill {text-align:center; font-size:.24rem; margin:.18rem 0;}
                .inps {width:5.06rem; border:2px #e53333 solid; font-size:.30rem; padding:.12rem 0; border-radius:.12rem; padding-left:.12rem;}
                .c2searchBtn {background-color:#e53333; font-size:.32rem; color:#fff; border:none; border-radius:.12rem; margin-left:.22rem; padding:.12rem .28rem;}
                .c2Prosearch p {font-size:.26rem; color:#999; padding:0 .32rem;}
                .c2Prosearch .c2codeinfo {color:#333; margin-bottom:.18rem;}
            .c2Exp {width:6.98rem; height:3.24rem; background-color:#f5f6f6; margin:0 auto; margin-top:.42rem;}
                .c2expimg {width:2.94rem; height:2.20rem; left:50%; top:50%; margin-left:-1.47rem; margin-top:-1.10rem;}
                .c2expimg img {width:100%;}
                .c2leaf {width:1.48rem; height:1.24rem; top:-.62rem; right:-.36rem; background-image:url(../images/ic2leaf.png);}
                .c2exptit {width:100%; text-align:center; left:0; bottom:-.62rem; font-size:.32rem; color:#212121;}
            .c2Factroy {height:8.2rem; padding-top:1.06rem;}
                .c2Factroylist h2,.c3Productlist h2 {font-size:.48rem; color:#212121; text-align:center; margin-bottom:.38rem;}
                .c2Factroylist ul li,.c3Productlist ul li {font-size:.28rem; margin-bottom:.36rem; padding-left:1.42rem; color:#333;}
                .c2Factroylist ul li span,.c3Productlist ul li span {background-color:#f5f6f6; width:1.46rem; display:inline-block; padding:.05rem .12rem; border-radius:.12rem 0 .12rem 0; margin-right:.18rem; color:#666;}
                .c2MapImg,.c2FactroyImg {width:3.4rem; height:4.0rem; background-color:#f5f6f6; bottom:.24rem;}
                .c2MapImg {left:.25rem;}
                .c2FactroyImg {right:.25rem;}
                .c2MapImg p,.c2FactroyImg p {width:100%; font-size:.3rem; color:#212121; text-align:center;}
                .c2MapImg p img,.c2FactroyImg p img {width:100%;}
                .c2names {bottom:-.56rem;}
        .c2foot {height:1.52rem; background-image:url(../images/ic2foot.jpg);}
    .con3 {height:5.72rem; background-image:url(../images/con3bg.jpg);}
        .c3Productlist {padding-top:.88rem;}
            .c3Productlist h2,.c3Productlist ul li {color:#fff;}
            .c3Productlist ul li {margin-bottom:.26rem; padding-left:2.32rem;}
            .c3Productlist ul li span {background-color:#fec656; color:#212121;}
    .con4 {background-image:url(../images/con4bg.jpg); background-position:center bottom; padding-bottom:1.92rem;}
        .c4Reportcont {text-align:center; padding-top:.16rem;}
        .c4Reportcont h2 {font-size:.48rem; color:#212121;}
        .c4Reportcont p {font-size:.28rem; color:#999;}
        .c4Reportcont .c4rpImg {width:7.0rem; height:auto; overflow:hidden; margin:0 auto; padding-top:.24rem;}
        .c4Reportcont .c4rpImg img {width:100%;}
/**/



/**/
/*.mask {display:none; position:fixed; top:0; left:0; bottom:0; right:0; height:100%; width:100%; z-index:10000; background:#000; opacity:.8; filter:alpha(opacity=80)}*/
    /*.modal {display:none; opacity:0; transition:opacity .3s ease-in-out 0s; -moz-transition:opacity .3s ease-in-out 0s; -webkit-transition:opacity .3s ease-in-out 0s; -o-transition:opacity .3s ease-in-out 0s; position:fixed; top:50%; left:50%; z-index:10001; width:5.4rem; margin-left:-2.7rem; background-color:#a6b5d4; border:.05rem solid #5571a9; padding:.5rem}*/
    /*.videoClosed {width:.62rem; height:.62rem; position:LaPrincess_filesolute; top:-.62rem; right:0; background-color:#d00; color:#fff; font-size:.52rem; line-height:.62rem; text-align:center; cursor:pointer;}*/
    /*.pop-video {width:100%; background:0 0; padding:0; border:0; left:0; margin-left:0}*/
        /*.pop-video video {width:100%; height:auto}*/






